<% include layouts/header %>
<% include layouts/navbar %>
    <div class="container-fluid discuss">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-md-6 column">
                <div class="text-right" style="margin-bottom:40px;">
                    
                    <div class="btn-group">
                        <a class="btn btn-primary" data-toggle="modal" href='#start_thread' role="button">Start thread</a>
                        <a class="btn btn-success" onclick="openMyThreads()" role="button">My threads</a>
                    </div>
                    
                </div>
                <div class="modal fade" id="start_thread">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Start a new discussion :)</h4>
                            </div>
                            <div class="modal-body">
                                    <p class="text-danger" id="error-msg"></p>                                                   
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" disabled="disabled" id="author" placeholder="Discussion Author" value="<%=user.username%>" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="title" placeholder="Title for thread (Min.length: 15 chars, Max.length: 40 chars)" maxlength="40" required>
                                    </div>

                                    <div class="form-group">
                                        <textarea id="body" class="form-control" disabled="disabled" rows="10" required placeholder="Content for your discussion.."></textarea>
                                    </div>                                                                         
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-success" disabled="disabled" id="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>           
                <% if(sendData.status == false) { %>
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Server Error<br><br></strong> Alert body ...
                </div>
                <% } else {%>
                <% if(dis.length == 0){ %>                
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Warning!</strong><br><br> No Discussions found on the server. Be the 
                    first to start a discussion by clicking Start thread button.
                </div>
                <% } else { %>
                    <% dis.forEach((discussion)=> { %>                        
                        <div class="panel panel-default" style="border-top: 2px solid rebeccapurple;">
                            <div class="panel-heading">
                                <h3 class="panel-title"><%= discussion.title %></h3>
                            </div>
                            <div class="panel-body" style="padding:20px;line-height:30px;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= discussion.body %> 
                                    
                                    <p class="text-right text-primary">- <%= discussion.author %></p>
                            </div>
                            <div class="panel-footer" style="background: white;">
                                <div class="text-right">
                                    <a href="/discuss/view/<%= discussion._id %>">Post a solution</a> | 
                                    <a href="/discuss/view/<%= discussion._id %>#solns"><%= discussion.comments.length %> Solutions</a>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                <% } }%>
            </div>
        </div>
    </div>
<% include layouts/javascripts %>
<% include layouts/discuss-js %>
<% include layouts/footer %>
